body{
	background-image: url("./bg_img.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
  	background-position: center;
  	background-size: cover;
}
h1{
	font-size: 50px;
	font-family: sans-serif;
	text-align: center;
	letter-spacing: -2px;
	color: white;
	text-shadow: 2px 3px 10px lightgrey;
}
a{
	color: #BCD2EE;
}
.nav li{
	display: inline;
	padding-right: 10px;
}
.nav ul a, aside a{
	text-decoration: none;
	font-family: sans-serif;
}
.nav ul a:hover, aside ul a:hover{
	color: white;
	font-weight: bold;
}
.wrap{
	min-width: 600px;
	width: 80%;
	margin: auto;
	color: white;
}
.content{
	float: left;
	width: 85%;
	height: 600px;
} 
.content p{
	text-shadow: 1px 1px 0px black;
	text-shadow: -1px -1px 0px black;
}
aside{
	height: 600px;
	float: left
	width: 15%
}
aside ul{
	list-style: none;
	padding-left: 0px;

}
form li, form p{
	font-size: 15px;
	list-style: none;
	margin-left: 800px;
	font-family: sans-serif;
	margin-bottom: 3px;
}
label{
	display: block;
	cursor: pointer;
}
form ul{
	padding-left: 0;
}
textarea{
	width: 300px;
	height: 100px;
}
p{
	font-size: 25px;
}
